<!DOCTYPE html>
<html>
<head>
    <title>{{ title }}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta property="og:title" content="Personal Portfolio">
    <meta property="og:description" content="My Personal Portfolio">
    <meta property="og:url" content="{{ url }}">

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link
        href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
        rel="stylesheet">

    <link lang='sass' rel="stylesheet" href="./static/styles/main.css">
    <link rel='icon' href='./static/img/favicon.ico' type='image/x-icon' />
</head>
<body class="min-vh-100">
    <div class="row">
        <div class="col-sm-2 min-vh-100 p-0" style="background-color: #1d539f;">
            <nav class="nav nav-pills nav-justified flex-column">
                <div class="profile d-flex flex-column justify-content-end">
                    <div id="profile-picture" class="profile-picture">
                        <img src="./static/img/logo.jpg">
                    </div>
                    <h1 class="pt-0">Name</h1>
                </div>
                <a class="nav-item nav-link text-light" href="/">About me</a>
                <a class="nav-item nav-link text-light" href="/experience">Work experience</a>
                <a class="nav-item nav-link text-light" href="/education">Education</a>
                <a class="nav-item nav-link text-light" href="/hobbies">Hobbies</a>
                <a class="nav-item nav-link text-light" href="/places">Places</a>
                <a class="nav-item nav-link text-light" href="/timeline">Timeline</a>
            </nav>
        </div>
        <div class="col-sm d-flex flex-column">
            <div class="mb-auto">
                {% block content %}{% endblock %}
            </div>
        
            <footer class="footer py-2">
                <div class="container text-center">
                    <span class="text-muted">©Portfolio</span>
                </div>
            </footer>
        </div>
    </div>

    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script text="javascript">
        // Obtain the element which corresponds to the url path
        const currentNavLink = document.querySelectorAll(`a[href='${location.pathname}']`)[0]
        currentNavLink.classList.toggle('active')
    </script>
</body>
</html>

