{% extends "base.html" %}
{% block content %}
<style>
    body {
        background: url('url_to_your_image') no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }

    .jumbotron {
        background-color: #265a8f;
        color: white;
    }

    .btn-custom {
        background-color: #fdee00;
        color: #265a8f;
    }
</style>

<div class="jumbotron text-center">
    <h1 class="display-4">Welcome to My Personal Portfolio!</h1>
    <p class="lead">I am a CS student</p>
    <hr class="my-4">
    <a class="btn btn-custom btn-lg" href="#" role="button">Learn more</a>
</div>    
{% endblock %}